@charset "utf-8";

$font_color: #ffffff;

.header {
  width: 100%;
  height: 80px;
  background-color: #242f9b;
  color: $font_color;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: $font_color;
  margin: auto 25px auto auto;
}
